@font-face {
    font-family: my-cool-font;
    src: url(./fonts/Roboto-Bold.ttf);
}

body{
    font-family: my-cool-font;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    /* grid-template-rows: repeat(4,1fr); */
    background-color: antiquewhite;
    /* gap: 10px; */
}

header{
    grid-column: 2/4;
    display: grid;
    background-color: white;
    grid-auto-flow: column;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr 1fr;
}

header .user-info{
    grid-column: 4/6;
    justify-self: center;
}

header .buttons{
    grid-column: 4/6;
    justify-self: center;
    /* padding: 20px; */
}

header .buttons button{
    padding: 20px;
}

header .user-image{
    background-color: darkgray;
    grid-column: 1/2;
    grid-row:2/3;
}

header .hello-user{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: aqua;
}

header ul{
    list-style: none;
    grid-column:1/4;
}

header ul li{
    display: flex;
}
header ul li > input{
    flex: 1;
    border-radius: 5px;
}

#searchbar::before{
    width: 20px;
    height: 20px;
    display: inline-block;
    content: url(./svg/magnify.svg);
}


.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    
    background-color: #0891b2;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
    
    padding: 15px;
}

.sidebar li{
    display: flex;
    align-items: center;
}

.sidebar #Dashboard::before{
    width: 40px;
    height: 40px;
    display: inline-block;
    content: url(./svg/view-dashboard.svg);
}

.sidebar #Home::before{
    width: 40px;
    height: 40px;
    display: inline-block;
    content: url(./svg/home-account.svg);
}



.content-container{
    grid-column:2/4;
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
    gap: 10px;
}

.project-section{
    grid-column: 1/2;
    grid-row: 1/3;
    /* padding: 20px; */
}

.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
}

.annnoucement-section{
    grid-row: 2/3;
    grid-column: 2/3;
}

.annnoucement-container{
    
    display: grid;
    gap: 10px;    
}

.trending-section{
    grid-column: 2/3;
}

.trending-container{

    display: grid;
    gap: 10px;
}


.project{
    /* height: 100px; */
    /* width:200px; */
    border: 2px solid darkgray;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

.annnoucement{
    background-color: white;
    padding: 20px;
    border-radius: 10px
}

.sidebar > ul{
    list-style: none;
}


.trending{
    background-color: white;
    padding: 10px;
    border-radius: 10px
}